.login-fields{
    text-align: center;
    margin-left: 100px;
    border-radius: 4px;
    width: 75%;

}
.subbut{
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 4px;
    width: 75%;
}

.passfields{
    text-align: center;

}