{% extends 'layout.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/style4.css' %}">
    <h3 style="display: inline; margin-right: 380px;">Qeydiyatdan Kec</h3>
    <hr>
{% if form.errors %}
<div class="alert alert-danger outter-error">
    <div class="error-fields">
        <h4>Please fix the following errors</h4>
        <ul>
            {% for field in form %}
            {% if field.errors %}
            {% for error in field.errors %}
            <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% if form.non_field_errors %}
    {{ form.non_field_errors }}
    {% endif %}
</div>
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">
<form action="" method="post">
    {% csrf_token %}
    Istifadeci Adi:
    <br>
    {{form.username}}
    <hr>
    Email:
    <br>
    {{form.email}}
    <hr>
    <span style="margin-left:100px;">Parol:</span>
    <br>
    {{form.password1}}
    <hr>
    <span style="margin-left:100px;">Parol Dogrula:</span>
    <br>
    {{form.password2}}
    <hr>
    <button type="submit" class="btn-block btn-group-sm btn-info subbut h5">Qeydiyatdan Kec</button>
    <div class="small" style="text-align: center;">
        Hesabiniz Var? <a href="{% url 'user:login' %}">Giris Et</a>
    </div>
    <hr>
</form>

{% endblock body %}